<h2>Sifremi Unuttum</h2>
<hr />

<form asp-controller="Account" asp-action="ForgotPassword" method="post">


    <div class="mb-3">
        <label for="Email">Eposta Adresinizi Giriniz</label>
        <input name="Email" type="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Gonder</button>

</form>